* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background-color: var(--color-fondo);
}


:root {
    --color-fondo: #a6f093;
}


header.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11rem;
    background: linear-gradient(#a03ff0, #a6f093);
    position: relative;
}


.encabezado > img.imagen1 {
    width: 9rem;
}


.encabezado .titulo, footer p {
    font-family: "Permanent Marker", cursive;
    color: white;
}

.encabezado .titulo {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 3.5rem;
    transform: translateX(-2%);
}


nav a > .casa {
    color: white;
    transition: color 0.3s;
    margin: 2rem;
}

nav a > .casa:hover {
    color: #5f01da;
    transform: scale(1.2);
    transition: transform 0.3s;
}

nav a > .casa:active {
    color: #4ac92b;
    transform: scale(1.2);
    transition: 0.3s;
}


#link {
    transition: 0.5s;
}

#link:target {
    border-radius: 40%;
    border: solid 3px #a03ff0;
}


.section img.imagen2 {
    border-radius: 10%;
    height: 80rem;
    width: 100%;
}

footer > img.imagen3 {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.section > .contenedor {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.section article {
    width: 80rem;
    background: linear-gradient(#a03ff0a9, #5f01dab4);
    border-radius: 2rem;
    padding: 2rem;
    color: #f7f7f7;
}


footer.footer {
    background: linear-gradient(#a6f093, #a03ff0);
    display: flex;
    justify-content: space-between;
    font-family: "Permanent Marker", cursive;
    font-size: 3rem;
    padding: 1rem;
    gap: 2rem;
    align-items: center;
}

.frase{
    color: black;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    font-size: 2.6rem;
}

.contenedor article:hover{
    transform: translateY(-10px);
    transition: 1s;
}

@media (max-width: 1024px) {
    body {
        background-color: var(--color-fondo);
    }

    header.encabezado {
        gap: 6rem;
        text-align: center;
    }

    section.section {
        margin-top: 5rem;
        margin-left: 2rem;
    }

    section.section article {
        max-width: 500px;
    }
}


@media (max-width: 768px) {
    .section {
        display: flex;
        flex-direction: column-reverse;
        font-size: 2.5rem;
        gap: 2rem;
    }

    header.encabezado > img.imagen1 {
        width: 5rem;
        height: 5rem;
        margin: 2.5rem;
    }

    nav a > .casa {
        width: 5rem;
        height: 5rem;
    }

    .section img.imagen2 {
        width: 30rem;
        height: 30rem;
    }

    .encabezado .titulo {
        font-size: 2.5rem;
    }

    .encabezado h1 {
        justify-content: center;
    }
}


@media (max-width: 480px) {
    body {
        background-color: var(--color-fondo);
    }

    header.encabezado > img.imagen1 {
        margin: 2rem;
    }

    .encabezado .titulo {
        font-size: 1.8rem;
    }

    .section {
        flex-direction: column-reverse;
        font-size: 1.5rem;
        gap: 2rem;
        padding: 0 1.5rem;
    }

    .section article {
        margin: 0 1rem;
        padding: 1.5rem;
        width: auto;
    }

    .frase {
        text-align: center;
    }
}











